<!doctype html>
<html lang="en">
<head>
    <title>Dragon Web Editor</title>
    <meta charset="UTF-8">
    <meta name = "author" content = "Vlad Samarsky DIPRB-31 2020">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>
    <!-- Header -->
    {% include "header.njk" %}

    <main>
    {% include "graphfield.njk" %}
    </main>

</body>
</html>