extends layout.pug

block content
    include particles/head-nav.pug

    div(id='workplaceWrap')
        include particles/insertSection
        div(id='graph-container')
    div(id='openedFilename')
    each js in htmlWebpackPlugin.files.js
        script(type='text/javascript', src=js)