body {
    background-color: white;
}

#graph-container {
    background-image: url("../images/grid.gif");
    width: 1000px;
    height: 600px;
    overflow: scroll;
}

.hwrap {
    display: flex;
    flex-direction: row;
}

.head-buttons {
    margin: 1rem;
}