nav(class='nav-wrap')
    h1 mxDragon
    ul
        li
            button(name='Open' id='hOpen') open
            input(type='file' id='hOpenInput' class='head-buttons' accept='.xml,.ds')
        li
            button(name='Save', id='hSave') save
        li
            button(name='Help', id='hHelp') help
        li
            button(name='About', id='hAbout') about