div(class='VerticalSectionWrap')
    div(id='insertSectionLabel') input
    div(id='insertSectionContent')
        ul
            li
                button(name='insertActionIcon' id='insertActionIcon') action
            li
                button(name='insertIfStatementIcon', id='insertIfStatementIcon') if-else
            li
                button(name='insertCommentIcon', id='insertCommentIcon') comment
            li
                button(name='insertInIcon', id='insertInIcon') in
            li
                button(name='insertOutIcon', id='insertOutIcon') out